<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdw.springboot.mapper.UploadInfoMapper" >
    <!-- 这儿定义一个resultMap -->
    <!--<resultMap type="com.hdw.springboot.mapper.UploadInfoMapper" id="uploadInfoMap">-->
        <!--<id property="project_id" column="project_id"/>-->
        <!--<result property="class_name" column="class_name"/>-->
        <!--<result property="method_name" column="method_name"/>-->
        <!--<result property="package_name" column="package_name"/>-->
    <!--</resultMap>-->

    <select id="getAll" resultType="com.hdw.springboot.entity.UploadInfo">
        select * from uploadInfo
    </select>

    <select id="getItemBySize" resultType="com.hdw.springboot.entity.UploadInfo">
        select * from uploadInfo limit #{size}
    </select>

    <select id="countItem" resultType="int">
        select count(*) from uploadInfo
    </select>

    <insert id="insertData" >
        insert into uploadInfo(project_id, method_name, class_name, package_name)  values(#{project_id},#{method_name},#{class_name},#{package_name})
    </insert>

</mapper>